@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
.clear {
  clear: both;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

.formtext::-webkit-input-placeholder {
  color: #e51e1e;
}

.formtext:-moz-placeholder {
  /* Firefox 18- */
  color: #e51e1e;
}

.formtext::-moz-placeholder {
  /* Firefox 19+ */
  color: #e51e1e;
}

.formtext:-ms-input-placeholder {
  color: #e51e1e;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:focus, a:active,
a:hover, input:focus, textarea:focus {
  outline: none;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  max-width: 100%;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'AgencyFB-Reg';
  src: url("../fonts/AgencyFB-Reg_gdi.eot");
  src: url("../fonts/AgencyFB-Reg_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/AgencyFB-Reg_gdi.woff") format("woff"), url("../fonts/AgencyFB-Reg_gdi.ttf") format("truetype"), url("../fonts/AgencyFB-Reg_gdi.svg#AgencyFB-Reg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'cinzelbold';
  src: url("../fonts/cinzel-bold-webfont.woff2") format("woff2"), url("../fonts/cinzel-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cinzelregular';
  src: url("../fonts/cinzel-regular-webfont.woff2") format("woff2"), url("../fonts/cinzel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  padding: 0;
  font-family: "cinzelregular", sans-serif;
}

body {
  color: #fff;
}

* {
  line-height: normal;
}

.estilopropio, .titleGeneral, .eliot-app h2, .block-section.estudio h1, .block-section.estudio h2 {
  background-color: red;
}

.titleGeneral, .eliot-app h2, .block-section.estudio h1, .block-section.estudio h2 {
  color: red;
  margin: 0;
  border-left: 4px solid #043d75;
  padding-left: 10px;
  font-family: "cinzelbold", sans-serif;
}

.input, #contactForm .form-group input[type="text"], #contactForm .form-group input[type="email"], #contactForm .form-group.text-area textarea {
  width: 100%;
  font-size: 18px;
  color: #ffffff;
  padding: 6px;
  background-color: transparent;
  outline: 0;
  border: 1px solid #ffffff;
  font-family: "Lato", sans-serif;
}

.eliot-app {
  position: relative;
  right: 0;
}
.eliot-app .wrapper-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.eliot-app h1 {
  font-size: 40px;
  text-transform: uppercase;
}
.eliot-app h2 {
  font-size: 24px;
}
.eliot-app .w50 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.eliot-app .block-space {
  width: 100%;
  height: 10px;
  margin: 20px 0;
  position: relative;
  background-image: url("http://crunchpress.com/demo/lawyer/wp-content/themes/lawyer/images/border-img.png");
  background-repeat: no-repeat;
  background-position: center;
}
.eliot-app .text {
  color: #2a343d;
  font-size: 16px;
  margin: 10px 0;
  line-height: 20px;
  font-family: "Lato", sans-serif;
}
.eliot-app .block-text .text {
  padding-left: 20px;
}
.eliot-app .list {
  margin: 0;
  padding: 0;
}
.eliot-app .list li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style-type: disc;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 0;
  padding: 25px 0;
  background-color: transparent;
  z-index: 9999;
  box-shadow: 0 0 15px -4px transparent;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header.fix-header {
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 0 15px -4px #000;
  padding: 10px 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header.fix-header .logo img {
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header.fix-header .logo:before {
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header.fix-header .nav ul li a {
  color: #0e4d90;
}
.header.fix-header .nav ul li a.active {
  color: #043d75;
}
.header .logo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 40%;
}
.header .logo img {
  opacity: 1;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header .logo:before {
  content: '';
  display: block;
  width: 319px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/logo-blue.png");
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header .nav {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  text-align: right;
}
.header .nav ul {
  margin: 0;
  padding: 0;
}
.header .nav li {
  margin: 0 4px;
  padding: 0 10px;
  display: inline-block;
}
.header .nav li a {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  opacity: .8;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header .nav li a:hover {
  opacity: 1;
}
.header .nav li a.active {
  opacity: 1;
  color: #61adff;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "cinzelbold", sans-serif;
}

.block-section.estudio {
  color: #red;
}

.block-section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-section .block-text {
  position: relative;
  z-index: 10;
}
.block-section.home {
  padding-top: 160px;
  height: 620px;
  background-image: url("https://drscdn.500px.org/photo/70324485/q%3D80_m%3D2000/f69192285d3f4f93859b336b5f895016");
}
.block-section.home h1 {
  border-color: #fff;
  display: inline-block;
}
.block-section.home .title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding-left: 22px;
}
.block-section.home .block-text {
  text-align: center;
  padding-top: 10%;
}
.block-section.home:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 19, 37, 0.85);
  top: 0;
  left: 0;
  z-index: 1;
}
.block-section.estudio {
  padding: 80px 0;
  background-image: url("../images/bg-studio.jpg");
  background-position: center;
}
.block-section.estudio h1, .block-section.estudio h2 {
  color: #043d75;
}
.block-section.estudio .block-text {
  max-width: 100%;
}
.block-section.estudio .box-detalle {
  text-align: center;
  padding-top: 20px;
}
.block-section.estudio .box-detalle .detalle {
  display: inline-block;
  vertical-align: top;
  max-width: 340px;
  width: 100%;
  padding: 20px;
}
.block-section.estudio .box-detalle .detalle .ico {
  max-width: 85px;
}
.block-section.estudio .box-detalle .detalle .title {
  color: #2a343d;
  font-size: 22px;
  margin: 10px 0;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.block-section.estudio .box-detalle .detalle ul li {
  display: inline-block;
  width: 33%;
}
.block-section.estudio .box-detalle ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.block-section.estudio .box-detalle ul li {
  padding: 0;
  margin: 4px 0;
}
.block-section.equipo {
  padding: 40px 0;
  background-color: #f7f7f7;
  background-image: url("../images/bg-equipo.jpg");
  background-size: inherit;
  background-repeat: repeat;
  border-top: 1px solid #e6e7e8;
  border-bottom: 1px solid #e6e7e8;
}
.block-section.equipo .slider-equipo {
  width: 750px;
  margin: 0 auto;
  height: 100%;
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}
.block-section.equipo .slider-equipo h3 {
  font-size: 24px;
  border-left: 0;
  padding-left: 0;
  color: #e9f0f8;
}
.block-section.equipo .slider-equipo .boximg {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.block-section.equipo .slider-equipo .boximg img {
  max-width: 100%;
}
.block-section.equipo .slider-equipo .box-text {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
}
.block-section.equipo .slider-equipo .text {
  color: #cadde8;
}
.block-section.equipo .slider-equipo .swiper-pagination {
  display: none;
}
.block-section.equipo .slider-equipo .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: .4;
}
.block-section.equipo .slider-equipo .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #007aff;
  opacity: 1;
}
.block-section.servicios {
  padding: 30px 0;
}
.block-section.servicios h1 {
  color: #043d75;
}
.block-section.servicios .fa {
  color: #043d75;
  font-size: 32px;
  vertical-align: middle;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services {
  font-size: 0;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  margin-top: 30px;
}
.block-section.servicios .content-services .item {
  padding: 40px;
  border-left: 1px solid #c1c1c1;
  min-height: 342px;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services .item:hover {
  background-color: #043d75;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services .item:hover .title {
  color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services .item:hover .title .fa {
  color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services .item:hover .text {
  color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services .item:hover .list li {
  color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services .item:first-child {
  border-left: 0;
}
.block-section.servicios .content-services .item .text {
  color: #5a686f;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services .item .title {
  border-left: 0;
  padding-left: 0;
  color: #043d75;
  font-size: 24px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.servicios .content-services .item .title span {
  display: inline-block;
  vertical-align: middle;
}
.block-section.servicios .content-services .item .title .fa {
  padding-right: 10px;
}
.block-section.servicios .content-services .item .list {
  margin-left: 20px;
}
.block-section.servicios .content-services .item .list li {
  color: #5a686f;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-section.contact {
  padding: 140px 0;
  background-image: url("https://drscdn.500px.org/photo/157649695/q%3D80_m%3D2000/2fd9ce670e2b005781daf03e72121d83");
}
.block-section.contact .text {
  color: #ffffff;
}
.block-section.contact:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 7, 14, 0.85);
  top: 0;
  left: 0;
  z-index: 1;
}
.block-section.contact .block-text {
  position: relative;
  z-index: 10;
}
.block-section.contact #contactForm {
  position: relative;
  z-index: 10;
}

#contactForm .btnsubmit {
  background-color: #043d75;
  font-family: "Lato", sans-serif;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  padding: 12px 0;
  text-align: center;
  border: 0;
  outline: none;
}
#contactForm .form-group {
  display: inline-block;
  width: 33%;
  padding: 20px;
}
#contactForm .form-group.block-btn {
  width: 100%;
}
#contactForm .form-group.text-area {
  width: 100%;
}
#contactForm .form-group.text-area textarea {
  resize: none;
}

@media (min-width: 1600px) {
  .block-section.clientes .slider-clientes .swiper-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .eliot-app h1 {
    font-size: 32px;
  }

  .block-section.estudio .box-detalle .detalle {
    max-width: 320px;
  }
}
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  #contactForm .form-group {
    width: 100%;
  }

  .block-section.servicios .content-services .item {
    min-height: inherit;
  }

  .block-section.servicios .content-services .item:hover {
    background-color: transparent;
  }

  .block-section.servicios .content-services .item:hover .title, .block-section.servicios .content-services .item:hover .title .fa, .block-section.servicios .content-services .item:hover .text, .block-section.servicios .content-services .item:hover .list li, .block-section.servicios .content-services .item:hover .text {
    color: #043d75;
  }

  .block-section.servicios .content-services .item {
    width: 100%;
    padding: 20px;
  }

  .block-section.servicios .content-services .item {
    border: 0;
  }

  .block-section.servicios .content-services .item:first-child {
    border-bottom: 1px solid #c1c1c1;
  }

  .header {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 0 15px -4px #000;
  }

  .header.fix-header {
    background-color: #ffffff;
  }

  .header .nav {
    position: absolute;
    right: -240px;
    top: 0;
    width: 240px;
    height: 100%;
    padding-top: 20px;
    background-color: #fff;
  }

  .header .nav li {
    display: block;
    margin: 0;
    padding: 6% 10px;
    border-top: 1px solid #d3d5d6;
  }

  .header .nav li:first-child {
    border-top: 0;
  }

  .header .nav li a.active {
    color: #043d75;
  }

  .header .nav li a {
    display: block;
    color: #043d75;
    opacity: 1;
    text-align: center;
  }

  .header .logo {
    width: auto;
  }

  .header .logo img {
    opacity: 0;
    max-width: 260px;
  }

  .header .logo:before {
    opacity: 1;
    width: 300px;
    height: 50px;
    background-size: cover;
  }
}
@media (max-width: 640px) {
  .eliot-app h1 {
    font-size: 28px;
  }

  .block-section.servicios .content-services .item .title {
    text-align: center;
  }

  .block-section.servicios .content-services .item .title .fa {
    padding: 0 0 10px 0;
  }

  .block-section.equipo .slider-equipo {
    width: 100%;
  }

  .block-section.equipo .slider-equipo .boximg {
    width: 100%;
  }

  .block-section.equipo .slider-equipo .box-text {
    width: 100%;
  }

  .block-section.contact {
    padding: 40px 0;
  }

  .eliot-app .block-space {
    display: none;
  }

  .header .logo:before {
    width: 220px;
    height: 41px;
  }

  .header .logo img {
    max-width: 220px;
  }
}

/*# sourceMappingURL=main.css.map */
