extends layout/layout
include layout/mixins

block htmlTitle
  title Elliot &amp; Asociados
block importtop
  link(href="css/main.css" rel="stylesheet" type="text/css")


//- block importbottom
//-   script(src='js/app.js')

block content
  - elemento = "Varaiable asignada"
  mixin blockText(title)
    .block-text
      h1= title
      if block
        block
      else
        block
  mixin lista(title, elemento)
    .block-text
      ul
        li(val="#{title}") title
        li(val="#{elemento}") elemento
        
  .eliot-app
    include layout/includes/nav_header
    section#home.block-section.home
      .wrapper-content
        .block-text
          h1.type-text(data="#{elemento}",ere="aa")
            strong Asesoría 
            | legal especializada
          p.title #{elemento}
    .block-space
    section#estudio.block-section.estudio
      .wrapper-content
        +lista('tesxto', 'elemtnos')
        +blockText('El ESTUDIO')
          p.text Es una firma de consultoría de apoyo a organizaciones y personas del mundo para mejorar su desempeño. Con nuestros principales clientes, personas naturales, empresas privadas e instituciones públicas, aplicamos nuestra experiencia, adaptada a sus necesidades, con el fin de ayudarlos a afrontar sus principales retos.
          p.text Nuestras oficinas en Perú se encuentran en la ciudad de Lima. Nuestros consultores trabajan con personas naturales y jurídicas en el ámbito universitario, de los sectores de energía, minería, consumo, telecomunicaciones y financiero, entre otros. En nuestro trabajo, aplicamos nuestros conocimientos y experiencia para solucionar los problemas más sencillos, así como los más complejos, con total transparencia, objetividad y eficiencia.
        .box-detalle
          .detalle
            img.ico(src="images/ico_vision.png", alt="")
            p.title Visión
            p.text Ser un estudio reconocido globalmente por su calidad, eficiencia y confiabilidad.
          .detalle
            img.ico(src="images/ico_mision.png", alt="")
            p.title Misión
            p.text Brindar soluciones técnicas, legales y académicas idóneas a las necesidades del cliente.
          .detalle
            img.ico(src="images/ico_valores.png", alt="")
            p.title Valores
            ul
              li.text Calidad
              li.text Eficiencia
              li.text Oportunidad
              li.text Ética
              li.text Responsabilidad

    .block-space
    
    section#servicios.block-section.servicios
      .wrapper-content
        +blockText('Servicios')
      .content-services
        .w50.item
          h3.title
            i.fa.fa-balance-scale
            span Asesoría legal especializada
          p.text Asesoría y acompañamiento en los procedimientos y procesos que se presentan en las siguientes áreas del Derecho:
          ul.list
            li Corporativo
            li Administrativo
            li Consumidor
            li Laboral
            li Civil
        .w50.item
          h3.title
            i.fa.fa-graduation-cap
            span Asistencia académica
          p.text Preparación integral para la obtención del título de abogado, con especial énfasis en la fase de sustentación de:
          ul.list
            li Casos prácticos y tesinas del Curso Especial de Titulación por Examen – CETEX.
            li Expedientes y Tesis relacionadas con diversas áreas del derecho.
          p.text Organización de actividades de capacitación, entrenamiento y perfeccionamiento profesional en diversas ramas del Derecho.
    
    .block-space
        
    section#contact.block-section.contact
      .wrapper-content
        +blockText('Contáctenos')
          p.text Por favor, completa este formulario

        form#contactForm.shake(role='form', data-toggle='validator')
          .contentbody
            .form-group
              //label.h4(for='name') Nombres
              input#name(type='text', placeholder='Nombres', required='')
              .help-block.with-errors
            .form-group
              //label.h4(for='email') Email
              input#email(type='email', placeholder='Correo Electrónico', required='')
              .help-block.with-errors
            .form-group
              //label.h4(for='phone') Phone
              input#phone(type='text', placeholder='Teléfono', size='15', required='')
              .help-block.with-errors
            .form-group.text-area
              //label.h4(for='message') Message
              textarea#message(rows='5', placeholder='Mensaje', required='')
              .help-block.with-errors
            .form-group.block-btn
              button#form-submit.btnsubmit(type='submit') Enviar
          #msgSubmit

    
