mixin link(href, name)
  a(class=attributes.class, href=href)= name

mixin text(info)
  p.text !{info}

mixin terms(info)
  p.terms !{info}

//
  mixin btn(color, lbl)
    .button.#{color}
      .button-icon
      p.button-text !{lbl}

mixin list(data)
  ul.bullets
    each row in data
      li.bullet
        .bullet-icon
        .bullet-text !{row.text}

 mixin video(code)
  .video-container
    .video-wrapper
      iframe(width='860' height='484' src='http://www.youtube.com/embed/#{code}' frameborder='0' allowfullscreen='')

mixin title(text,ico)
  if ico
    h2.title-icon #{text}
    img.icon-title(src='#{ico}')
  else
    h2 #{text}
