@media (min-width: 1600px) {
  .block-section.clientes .slider-clientes .swiper-wrapper{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .eliot-app h1{
    font-size: 32px;
  }
  .block-section.estudio .box-detalle .detalle{
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  .hamburger-menu{
    display: block;
  }
  #contactForm .form-group{
    width: 100%;
  }
  .block-section.servicios .content-services .item{
    min-height: inherit;
  }
  .block-section.servicios .content-services .item:hover{
    background-color: transparent;
  }
  .block-section.servicios .content-services .item:hover .title, .block-section.servicios .content-services .item:hover .title .fa, .block-section.servicios .content-services .item:hover .text, .block-section.servicios .content-services .item:hover .list li, .block-section.servicios .content-services .item:hover .text{
    color:$blue;
  }
  .block-section.servicios .content-services .item{
    width: 100%;
    padding:20px;
  }
  .block-section.servicios .content-services .item{
    border:0;
  }
  .block-section.servicios .content-services .item:first-child{
    border-bottom: 1px solid #c1c1c1;
  }
  .header{
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 0 15px -4px #000;
  }
  .header.fix-header{
    background-color: #ffffff;
  }
  .header .nav{
    position: absolute;
    right: -240px;
    top:0;
    width: 240px;
    height: 100%;
    padding-top: 20px;
    background-color: #fff;
  }
  .header .nav li{
    display: block;
    margin: 0;
    padding: 6% 10px;
    border-top: 1px solid #d3d5d6;
  }
  .header .nav li:first-child{
    border-top: 0;
  }
  .header .nav li a.active{
    color:$blue;
  }
  .header .nav li a{
    display: block;
    color:$blue;
    opacity: 1;
    text-align: center;
  }
  .header .logo{
    width: auto;
  }
  .header .logo img{
    opacity: 0;
    max-width: 260px;
  }
  .header .logo:before{
    opacity: 1;
    width: 300px;
    height: 50px;
    background-size: cover;
  }
}
@media (max-width: 640px){
  .eliot-app h1{
    font-size: 28px;
  }
  .block-section.servicios .content-services .item .title{
    text-align: center;
  }
  .block-section.servicios .content-services .item .title .fa{
    padding: 0 0 10px 0;
  }
  .block-section.equipo .slider-equipo{
    width: 100%;
  }
  .block-section.equipo .slider-equipo .boximg{
    width: 100%;
  }
  .block-section.equipo .slider-equipo .box-text{
    width: 100%;
  }
  .block-section.contact{
    padding:40px 0;
  }
  .eliot-app .block-space{
    display: none;
  }
  .header .logo:before{
    width: 220px;
    height: 41px;
  }
  .header .logo img{
    max-width: 220px;
  }
}

@media (max-width: 320px){

}
