@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
@import "compass/css3";
@import "normalize";
@import "_fonts";
$font-family: 'cinzelregular',sans-serif;
$font-familyBold: 'cinzelbold',sans-serif;
$font-text:'Lato', sans-serif;
$blue: #043d75;
$blue-menu:#61adff;
$text-color:#2a343d;


html, body{
  padding: 0;
  font-family: $font-family;
}
body{
   color:#fff;
}
*{
  line-height: normal;
}
.estilopropio{
  background-color: red;
}
.titleGeneral{
  @extend .estilopropio;
  color:red;
  margin: 0;
  border-left: 4px solid $blue;
  padding-left: 10px;
  font-family: $font-familyBold;
}
.input{
  width: 100%;
  font-size: 18px;
  color:#ffffff;
  padding: 6px;
  background-color: transparent;
  outline: 0;
  border:1px solid #ffffff;
  font-family: $font-text;
}
.eliot-app{
  position: relative;
  right: 0;
  .wrapper-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  h1{
    font-size: 40px;
    text-transform: uppercase;
  }
  h2{
    @extend .titleGeneral;
    font-size: 24px;
  }
  .w50{
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .block-space{
    width: 100%;
    height: 10px;
    margin: 20px 0;
    position: relative;
    background-image: url("http://crunchpress.com/demo/lawyer/wp-content/themes/lawyer/images/border-img.png");
    background-repeat: no-repeat;
    background-position:center;
  }
  .text{
    color:$text-color;
    font-size: 16px;
    margin: 10px 0;
    line-height: 20px;
    font-family: $font-text;
  }
  .block-text{
    .text{
      padding-left: 20px;
    }
  }
  .list{
    margin:0;
    padding: 0;
    li{
      margin: 0;
      padding: 0;
      font-size: 16px;
      list-style-type: disc;
    }
  }
}
.header{
  position: fixed;
  width: 100%;
  top:0;
  font-size: 0;
  padding: 25px 0;
  background-color: transparent;
  z-index: 9999;
  box-shadow: 0 0 15px -4px transparent;
  @include transition(all .5s ease-in-out);
  &.fix-header{
    background-color:rgba(255, 255, 255, 0.92);
    box-shadow: 0 0 15px -4px #000;
    padding: 10px 0;
    @include transition(all .5s ease-in-out);
    .logo{
      img{
        opacity: 0;
        @include transition(all 0.3s ease-in-out);
      }
      &:before{
        opacity: 1;
        @include transition(all 0.3s ease-in-out);
      }
    }
    .nav{
      ul{
        li{
          a{
            color:#0e4d90;
            &.active{
              color: $blue;
            }
          }
        }
      }
    }
  }
  .logo{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 40%;
    img{
      opacity: 1;
      @include transition(all 0.2s ease-in-out);
    }
    &:before{
      content: '';
      display: block;
      width: 319px;
      height: 60px;
      position: absolute;
      left: 0;
      top:0;
      background-image: url("../images/logo-blue.png");
      opacity: 0;
      @include transition(all 0.2s ease-in-out);
    }
  }
  .nav{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    text-align: right;
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      margin: 0 4px;
      padding: 0 10px;
      display: inline-block;
      a{
        display: inline-block;
        font-size: 18px;
        color:#ffffff;
        text-decoration: none;
        opacity: .8;
        @include transition(all 0.2s ease-in-out);
        &:hover{
          opacity: 1;
        }
        &.active{
          opacity: 1;
          color:$blue-menu;
          @include transition(all 0.2s ease-in-out);
          font-family: $font-familyBold;
        }
      }
    }
  }
}

.block-section.estudio{
  color: #red;
}

.block-section{
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  .block-text{
    position: relative;
    z-index: 10;
    .asdasd{
      .asdasd{

      }
    }
  }
  &.home{
    padding-top: 160px;
    height: 620px;
    background-image: url("https://drscdn.500px.org/photo/70324485/q%3D80_m%3D2000/f69192285d3f4f93859b336b5f895016");
    h1{
      border-color: #fff;
      display: inline-block;
    }
    .title{
      font-family: $font-text;
      font-size: 18px;
      padding-left: 22px;
    }
    .block-text{
      text-align: center;
      padding-top: 10%;
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 19, 37, 0.85);
      top:0;
      left: 0;
      z-index: 1;
    }
  }
  &.estudio{
    padding: 80px 0;
    background-image: url("../images/bg-studio.jpg");
    background-position:center;
    h1,h2{
      @extend .titleGeneral;
      color:$blue;
    }
    .block-text{
      max-width: 100%;
    }
    .box-detalle{
      text-align: center;
      padding-top: 20px;
      .detalle{
        display: inline-block;
        vertical-align: top;
        max-width: 340px;
        width: 100%;
        padding: 20px;
        .ico{
          max-width: 85px;
        }
        .title{
          color:$text-color;
          font-size: 22px;
          margin: 10px 0;
          line-height: 24px;
          font-family: $font-text;
          font-weight: bold;
        }
        ul li{
          display: inline-block;
          width: 33%;
        }
      }
      ul{
        margin: 0;
        padding: 0;
        font-size: 0;
        li{
          padding: 0;
          margin: 4px 0;
        }
      }
    }
  }
  &.equipo{
    padding: 40px 0;
    background-color: #f7f7f7;
    background-image: url("../images/bg-equipo.jpg");
    background-size: inherit;
    background-repeat: repeat;
    border-top: 1px solid #e6e7e8;
    border-bottom: 1px solid #e6e7e8;
    .slider-equipo{
      width: 750px;
      margin: 0 auto;
      height: 100%;
      font-size: 0;
      padding-top: 40px;
      padding-bottom: 20px;
      h3{
        font-size: 24px;
        border-left: 0;
        padding-left: 0;
        color:#e9f0f8;
      }
      .boximg{
        width: 30%;
        display: inline-block;
        vertical-align: top;
        img{
          max-width: 100%;
        }
      }
      .box-text{
        width: 70%;
        display: inline-block;
        vertical-align: top;
        padding: 10px 20px;
      }
      .text{
        color: #cadde8;
      }
      .swiper-pagination{
        display: none;
      }
      .swiper-pagination-bullet{
        background-color: #ffffff;
        opacity: .4;
        &.swiper-pagination-bullet-active{
          background-color: #007aff;
          opacity: 1;
        }
      }
    }
  }
  &.servicios{
    padding: 30px 0;
    h1{
      color:$blue;
    }
    .fa{
      color:$blue;
      font-size: 32px;
      vertical-align: middle;
      @include transition(all .3s ease-in-out);
    }
    .content-services{
      font-size: 0;
      border-top: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      margin-top: 30px;
      .item{
        padding: 40px;
        border-left: 1px solid #c1c1c1;
        min-height: 342px;
        cursor: pointer;
        @include transition(all .3s ease-in-out);
        &:hover{
          background-color: $blue;
          @include transition(all .3s ease-in-out);
          .title{
            color:#ffffff;
            @include transition(all .3s ease-in-out);
            .fa{
              color:#ffffff;
              @include transition(all .3s ease-in-out);
            }
          }
          .text{
            color:#ffffff;
            @include transition(all .3s ease-in-out);
          }
          .list li{
            color:#ffffff;
            @include transition(all .3s ease-in-out);
          }
        }
        &:first-child{
          border-left: 0;
        }
        .text{
          color:#5a686f;
          @include transition(all .3s ease-in-out);
        }
        .title{
          border-left: 0;
          padding-left: 0;
          color:$blue;
          font-size: 24px;
          @include transition(all .3s ease-in-out);
          span{
            display: inline-block;
            vertical-align: middle;
          }
          .fa{
            padding-right: 10px;
          }
        }
        .list{
          margin-left: 20px;
          li{
            color:#5a686f;
            line-height: 22px;
            font-family: $font-text;
            @include transition(all .3s ease-in-out);
          }
        }
      }
    }
  }
  &.contact{
    padding: 140px 0;
    background-image: url("https://drscdn.500px.org/photo/157649695/q%3D80_m%3D2000/2fd9ce670e2b005781daf03e72121d83");
    .text{
      color:#ffffff;
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 7, 14, 0.85);
      top:0;
      left: 0;
      z-index: 1;
    }
    .block-text{
      position: relative;
      z-index: 10;
    }
    #contactForm{
      position: relative;
      z-index: 10;
    }
  }
}
#contactForm{
  .btnsubmit{
    background-color: $blue;
    font-family: $font-text;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    padding: 12px 0;
    text-align: center;
    border: 0;
    outline: none;
  }
  .form-group{
    display: inline-block;
    width: 33%;
    padding: 20px;
    input[type="text"],input[type="email"]{
      @extend .input;
    }
    &.block-btn{
      width: 100%;
    }
    &.text-area{
      width: 100%;
      textarea{
        @extend .input;
        resize: none;
      }
    }
  }
}

@import "responsive";
