header.header.fix-header
  .wrapper-content
    a.logo(href="#home")
      img(src="images/logo.png", alt="")
    nav.nav
      ul
        li
          a.menu-link(href="#home") Inicio
        li
          a.menu-link(href="#estudio") El Estudio
        li
          a.menu-link(href="#equipo") Equipo
        li
          a.menu-link(href="#servicios") Servicios
        li
          a.menu-link(href="#contact") Contacto
